# Terraform State & Secrets
*.tfstate
*.tfstate.backup
.terraform/
*.tfvars
tfplan

# Python / PySpark
__pycache__/
.ipynb_checkpoints/
*.pyc

# Python Virtual Environment 
.venv/

# Environment & Keys
.env

# Data
data/